header, main {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 25px auto;
  font-size: 36px;
  font-weight: bold;
}

p {
  margin: 15px auto;
  font-size: 22px;
  font-style: italic;
}
@media screen and (max-width: 730px){
  img {
    width: 75%;
    transition: 1s;
  }
}
@media screen and (max-width: 600px){
  img {
    width: 50%;
    transition: 1s;
  }
}